/*
 * Empty Stylesheet file.
 */

.button{
    -fx-background-color: #eeeeee;
    -fx-text-fill: dimgray;
    -fx-border-radius: 100;
    -fx-border-color: #bbbbbb;
    -fx-background-radius: 100;
}

.button:hover{
    -fx-background-color: gray;
    -fx-border-color: gray;
}

.button:pressed{
    -fx-background-color: gray;
    -fx-border-color: gray;
}

.label{
    -fx-alignment:CENTER;
}