/*
 * Empty Stylesheet file.
 */

.button{
    -fx-background-color: #505050;
    -fx-text-fill: white;
    -fx-border-radius: 100;
    -fx-border-color: white;
    -fx-background-radius: 100;
}

.button:hover{
    -fx-background-color: gray;
    -fx-border-color: gray;
}

.button:pressed{
    -fx-background-color: gray;
    -fx-border-color: gray;
}

.label{
    -fx-alignment:CENTER;
}


.text-area .content{
    -fx-background-color: dimgray;
    -fx-border-color: dimgray;
}