/*
 * Empty Stylesheet file.
 */


/*MENU.CSS*/

.button{
   -fx-background-color: dimgray;
   -fx-text-fill: white;
}

.button:hover, .button:expanded, .anchorPane:expanded{
    -fx-background-color: gray;
    -fx-border-color: #cccccc;
    -fx-pref-width: 180;
    -fx-font-size: 10;
}

.button:pressed .button:expanded, .anchorPane:expanded{
    -fx-background-color: gray;
    -fx-border-color: #cccccc;
    -fx-pref-width: 180;
    -fx-font-size: 10;
}

