/*
 * Empty Stylesheet file.
 */


/*MENU.CSS*/

.button{
   -fx-background-color: darkgray;
   -fx-text-fill: white;
   -fx-border-color: dimgray;
}

.button:hover{
    -fx-background-color: gray;
}

.button:pressed{
    -fx-background-color: gray;
}

.menu-button{
    -fx-background-color: darkgray;
    -fx-border-color: dimgray; 
}

.menu-button:hover{
    -fx-background-color: gray;
}

.menu-button:pressed{
    -fx-background-color: gray;
}

.menu-item{
    -fx-background-color: darkgray;
    -fx-pref-width: 158;
    -fx-pref-height: 47;
}

.menu-item:hover{
    -fx-background-color: gray;
}
.menu-item:pressed{
    -fx-background-color: gray;
}
